/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    
    background-color: #0d0d0d;
    color: #fff;
    overflow-x: hidden;
  }
  
  /* Transparent Navbar */
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    position: relative;
    display: inline-block;
    margin-top: 9px;
    transition: color 0.2s ease-in; 
}


.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}


.navbar a:hover::after {
    width: 50%; 
    left: 25%; 
}
 .btn{
    border: 2px solid #007ACC;
    padding: 10px;
    color: #0098FF;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        border-color: #0098FF;
        color: #007ACC;
    }
 }
  
  
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background: radial-gradient(circle at center , rgba(0, 152, 255, 0.3), #0d0d0d 70%);
    clip-path: inset(0 0 0 0); 
  }
  
  .hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .btn-learn-more {
    background-color: #0098FF;
    border: none;
    padding: 15px 30px;
    color: #0d2b3f;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    justify-content: space-between;
    gap: 11px;
  }
  .btn-learn-more img{
    width: 25px;
  }
  
  .btn-learn-more:hover {
    background-color: #007ACC;
  }
  
  /* Features Section */
  .features {
    padding: 60px 20px;
    background: 
    radial-gradient(circle at 20% 50%, rgba(0, 152, 255, 0.3), transparent 60%), 
    radial-gradient(circle at 80% 50%, rgba(255, 0, 152, 0.3), transparent 60%);
    background-color: #0d0d0d; 
    text-align: center;
  }
  
  .feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #ffffff;
    color: #0d2b3f;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    width: 27%;
  }
  .card img{
    width: 150px;
    mix-blend-mode: multiply;
  }
  .card p{
    font-weight: 400;
  }
  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
  }
  